.navbar {
  height: 100px;
  padding: 0 20px;
}

.navbar img {
  height: 150px;
  object-fit: contain;

  /* Tujuannya agar gambar bisa mengubah posisi relatif terhadap elemen induknya */
  position: relative;

  top: -3px;
  left: 95px;
}

.navbar-nav {
  position: relative;
  left: 370px;
}
